<tr>
  <td><input type="checkbox" data-reflex="click->User#toggle" data-user-id="<%= user.id %>"></td>
  <td><%= user.name %></td>
  <td><%= user.age %></td>
  <td><%= user.email %></td>
  <td><%= user.completed_at %></td>
</tr>
